<div class="root">
  <mat-card class="card-root">
    <mat-card
      [ngClass]="todo.isFinished ? 'todo-card-finished' : 'todo-card  '"
      *ngFor="let todo of todos"
    >
      <div class="todo-content">{{ todo.todo }}</div>
      <div class="todo-button-group">
        <button (click)="isFinished(todo)" mat-icon-button>
          <mat-icon *ngIf="todo.isFinished; else showThis"
            >remove_circle_outline</mat-icon
          >
          <ng-template #showThis>
            <mat-icon>check_circle_outline</mat-icon>
          </ng-template>
        </button>
        <button (click)="openModifyDialog(todo)" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card>

  <button
    (click)="openNewTodoDialog()"
    class="add-todo-button"
    mat-flat-button
    color="primary"
  >
    Add Todo
  </button>
</div>
