<div class="signup-root">
  <form class="signup-form">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input [(ngModel)]="email" name="email" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" name="password" matInput type="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input [(ngModel)]="fullName" name="fullName" matInput />
    </mat-form-field>
  </form>
  <button
    (click)="signup()"
    mat-flat-button
    color="primary"
    class="login-button"
  >
    Apply
  </button>
</div>
