<div class="root">
  <div class="top-container">
    <mat-toolbar color="accent"
      ><span class="header" *ngIf="user"
        >{{ user.fullname }}'s Todos</span
      ></mat-toolbar
    >
    <mat-action-list>
      <div class="list-button-container" *ngFor="let todo of todos">
        <button (click)="listIndex(todo)" class="list-button" mat-list-item>
          {{ todo.name }}
        </button>
        <div class="icon-button-container">
          <button mat-icon-button (click)="openDialog(todo)">
            <mat-icon class="icon">settings</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="icon">delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-action-list>
  </div>
  <div class="bottom-container">
    <button class="new-todo" mat-flat-button color="primary">
      New Todo List
    </button>
  </div>
</div>
